body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ********* Start of navbar styling ********** */
nav {
  width: auto;
  height: 90px;
  background-color: #f55a5a;
  text-align: center;
}
.navbar--content {
  text-align: center;
  display: inline-block;
  width: 30%;
  /* border-style: dashed;
  border-color: greenyellow; */
}

.fa-globe {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  color: white;
}

.navbar--header {
  font-size: 30px;
  color: white;
}

/* ********* End of navbar styling ********** */

/* ********* Start of card styling ********** */
.card {
  display: flex;
  justify-content: center;
}

.card--content {
  margin-left: 30px;
}

.card--line--one {
  display: flex;
}
.card--image {
  width: 250px;
  height: 300px;
  left: 39px;
  top: 304px;
  border-radius: 5px;
}

.fa-location-dot {
  color: #f55a5a;
}

.google--link {
  margin-top: 15px;
  margin-left: 20px;
}
/* ********* End of card styling ********** */
